In [1]:
def counter (a,b):
    count = 0
    for i in a:
        if i == b:
            count +=1
    print(count)       
    return count

In [2]:
counter('clarusway','a')

2

2

Mercury: orbital period 0.2408467 Earth years
Venus: orbital period 0.61519726 Earth years
Earth: orbital period 1.0 Earth years, 365.25 Earth days, or 31,557,600 seconds
Mars: orbital period 1.8808158 Earth years
Jupiter: orbital period 11.862615 Earth years
Saturn: orbital period 29.447498 Earth years
Uranus: orbital period 84.016846 Earth years
Neptune: orbital period 164.79132 Earth years
So if you were told someone were 1,000,000,000 seconds old, you should be able to say that
they're 31.69 Earth-years old.
Learning Outcomes

In [61]:
planets ={'Mercury':0.2408467 ,
'Venus':0.61519726 ,
'Earth':31557600 ,
'Mars':1.8808158 ,
'Jupiter':11.862615 ,
'Saturn': 29.447498, 
'Uranus':84.016846, 
'Neptune': 164.79132 }
# So if you were told someone were 1,000,000,000 seconds old, you should be able to say that
# they're 31.69 Earth-years old.
# Learning Outcomes

In [66]:
def oldCalculator(planet,value):
    old = 0
    for i,j in planets.items():
        if planet == 'Earth':
            old = value / 31557600
        else:
            if  planet == i:
                old = value / (j * 31557600)
                return old
            else: print('invalid Planet')

In [67]:
oldCalculator('Jupiter',1000000000)

2.6712565327315225